.red {
  color: red;
}

.blue {
  color: blue;
}

.purple {
  background-color: purple;
}

.orange {
  background-color: orange;
}

.square {
  width: 200px;
  height: 200px;
}

button {
  margin: 50px;
}
